.container {
    width:900px;
    height:150px;
    background: #eee;

    select {
        width:100px;
        // border: none;
        padding:3px;
        margin:5px;
        margin-left: 30px;
    }
}
